body {
    background:#111827;
    color:white;
    text-align:center;
    font-family:Arial;
}

h1 {
    margin-top:50px;
}

.box {
    margin:50px auto;
    padding:30px;
    width:80%;
    background:#1f2937;
    border-radius:20px;
}

#livePrice {
    color:#00ff88;
    font-size:40px;
}

#chart{
height:500px;
width:100%;
margin-top:30px;
}
