body{
    margin:0;
    background:#111827;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
}

header{
    background:#1f2937;
    padding:15px;
    text-align:center;
    border-bottom:2px solid #00c853;
}

#livePrice{
    font-size:32px;
    font-weight:bold;
    color:#00e676;
    margin-top:10px;
}

#status{
    color:#9ca3af;
    margin-top:5px;
}

.top{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:10px;
    padding:15px;
}

.card{
    background:#1f2937;
    border-radius:10px;
    padding:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.3);
}

.card h2{
    margin:0;
    font-size:18px;
    color:#facc15;
}

.card p{
    font-size:18px;
    font-weight:bold;
    margin-top:8px;
}

#chart{
    width:100%;
    height:500px;
    margin-top:10px;
}

.signals{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    padding:15px;
}

.signal{
    background:#1f2937;
    border-radius:10px;
    padding:15px;
    text-align:center;
}

.signal h2{
    margin-top:0;
    color:#38bdf8;
}

.signal p{
    font-size:22px;
    font-weight:bold;
}
